@model IEnumerable<Tarea2_3.Models.Coche>

<h2>Lsitado de Vehiculos</h2>

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "Marca");
    }
    @grid.GetHtml(columns: grid.Columns(
        grid.Column("Tipo", header: "Tipo"),
        grid.Column("Marca", header: "Marca"),
        grid.Column("Modelo", header: "Modelo"),
        grid.Column("Color", header: "Color")
        ))
</div>
